ul{
    display: flex;
    justify-content: center;
    font-size: 45px;
    column-gap: 55px;
    list-style: none;
}
li{
    position: relative;
    cursor: pointer;
}

li::before{
    position: absolute;
    top: -2px;
    right: -3px;
    width: 0;
    height: 4px;
    filter: blur(0.3px);
    background: transparent;
    content: "";
    
}

li:hover::before{
    animation: abc 2s infinite alternate;
}
@keyframes abc{
    from{
        width: 20%;
        height: 2px;
        background: rgb(255, 0, 200);

    }
    to{
        width: 103%;
        height: 4px;
        background: rgb(255, 242, 0);
        
    }
}